@font-face {
    font-family: sans-serif;
    src: url('../fonts/CircularStd-Black.otf') format('otf');
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    position: absolute;
}


.wrapper {
    overflow-x: hidden;
    width: 100vw;
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    /* border-bottom: 1px ridge; */
    min-height: 400px;
}


.nav-item {
    padding-left: 20px;
}

.nav-link {
    color: rgb(68, 65, 65);
}

.btn-dark {
    color: #fff;
}

.header {
    background-color: rgb(68, 65, 65);
    color: #fff;
}

.display-4,
.text,
h2 {
    font-weight: bold;
}


.main {
    grid-row: 3/4;
    position: relative;
}

.ellipse {
    top: 25%;
    z-index: 1;
}


.h5 {
    font-size: 18px;
    font-weight: bold;
}

.page {
    font-size: 16px;
}

.h5,
.page {
    text-align: center;
}

.sp {
    margin-left: 40%;
}

.sp1 {
    margin-left: 35%;
}

.space {
    margin: 20px;
}

.section1 {
    grid-row: 4/5;
}

.section2 {
    grid-row: 5/6;
}

.section3 {
    grid-row: 6/7;
}


.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-container>div {
    background: transparent;
    margin: 5px;
    border-radius: 10px;
    font-size: 0.9em;
    border-top: 0 !important;
}

.flex-container>.first {
    border: 0;
}

.content::after {
    content: "\2192 " !important;
    font-size: 20px;
    margin-left: 40%;
}

.card-footer {
    background-color: #fff;
}

.list {
    line-height: 40px;
    cursor: pointer;
}

.section4 {
    grid-row: 7/8;
    background-color: rgb(240, 236, 236);
}


.footer {
    background-color: rgb(68, 65, 65);
    color: #fff;
    font-size: 16px;
}

.footer a {
    color: #fff;
}

.dark {
    border: 1px rgb(68, 65, 65) !important;
}


/* services */
.S-nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-link {
    color: rgb(68, 65, 65);
}

.nav-item {
    padding-left: 20px;
}

.btn-dark {
    color: #fff;
}

.S-header {
    grid-row: 2/3;
    background-color: rgb(68, 65, 65);
    color: #fff;
}

.S-main {
    grid-row: 3/4;
    background-color: rgb(240, 236, 236);
}

.S-section1 {
    grid-row: 4/5;
}

.display-4 {
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

.read {
    text-decoration: underline !important;
    color: #000000 !important;
}

.read::after {
    content: "\2192 " !important;
}

.read-blog::after {
    content: "\2192 " !important;
}

.space {
    margin: 20px;
}

.S-section3 {
    grid-row: 5/6;
}



.box {
    border: 1px solid rgba(228, 226, 243, 0.7) !important;
    border-top: 0 !important;
}

.flex-container>.first {
    border: 0;
}

.flex-container>.second {
    width: 400px;
}

.h5 {
    font-size: 18px;
    font-weight: bold;
}

.page {
    font-size: 16px;
}

.h5,
.page {
    text-align: center;
}

.content::after {
    content: "\2192 " !important;
    font-size: 25px;
    margin-left: 40%;
}

.picture {
    height: 400px;
}

.card-footer {
    background-color: #fff;
}

.list {
    line-height: 40px;
    cursor: pointer;
    list-style-type: circle;
}

.btn {
    border: 1px solid rgb(26, 25, 25) !important;
}

.sp {
    margin-left: 40%;
}

.S-section4 {
    grid-row: 6/7;
    background-color: rgb(240, 236, 236);
}

.S-footer {
    grid-row: 7/8;
    background-color: rgb(68, 65, 65);
    color: #fff;
    font-size: 16px;
}

.S-footer a {
    color: #fff;
}

/* CAREER CSS */

.C-nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-link {
    color: rgb(68, 65, 65);
}

.nav-item {
    padding-left: 20px;

}

.btn-dark {
    color: #fff;
}

.C-header {
    grid-row: 2/3;
    background-color: rgb(44, 43, 43);
    color: #fff;
}

.C-main {
    grid-row: 3/4;
}

.C-section1 {
    grid-row: 4/5;
}

.color {
    height: 200px !important;
    background-color: rgb(68, 65, 65) !important;
}

.box {
    border: 1px solid rgba(228, 226, 243, 0.7) !important;
    border-top: 0 !important;
}

.content::after {
    content: "\2192 " !important;
    font-size: 20px;
    margin-left: 20px;
}

.card-footer {
    background-color: #fff;
}

.sp {
    margin-left: 40%;
}

.read {
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
}

.read::after {
    content: "\2192 " !important;
}

.download {
    font-weight: bold;
}

.list {
    line-height: 40px;
    cursor: pointer;
}

.C-footer {
    grid-row: 5/6;
    background-color: rgb(68, 65, 65);
    color: #fff;
    font-size: 16px;
}

.C-footer a {
    color: #fff;
}

/* tech */
.tech-header {
    grid-row: 2 / 3;
}

.tech-main {
    grid-row: 3 / 4;
}

.tech-section1 {
    grid-row: 4 / 5;
}

.tech-footer {
    grid-row: 5 / 6;
}

/* blog css */
.blog {
    background-color: #fff;
    color: #000;
}

.blogBox {
    height: 400px;
    border: 1px solid #000;
    width: 400px;
}

.grey {
    background-color: #C4C4C4;
    height: 300px;
    width: 300px;
}

.card {
    border: none;
}

.left-column {
    float: left;
    width: 25%;
}

.right-column {
    float: left;
    width: 75%;
}

hr {
    background-color: #ffffff;
}

.greyBox {
    background-color: #C4C4C4;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.read::after {
    content: "\2192 " !important;
}

.percent {
    width: 85%;
}

.left-column1 {
    float: left;
    width: 30%;
}

.right-column1 {
    float: left;
    width: 70%;
}

.gray {
    background-color: #C4C4C4;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.right-col {
    float: right;
}

.input-group-text {
    background-color: rgb(68, 65, 65);
    color: #fff;
    padding: 5px;
}

.input-group {
    width: 60%;
    padding: 5px;
    margin-left: 20%;
}

.bar::before {
    content: "\007c";
}

.card-horizontal {
    display: flex;
    flex: auto;
}

/* presskit */
.P-nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

.P-header {
    grid-row: 2/3;
    background-color: rgb(44, 43, 43);
    color: #fff;
}

.P-main {
    grid-row: 3/4;
}

.P-section1 {
    grid-row: 4/5;
}

.P-footer {
    grid-row: 5/6;
    background-color: rgb(68, 65, 65);
    color: #fff;
    font-size: 16px;
}

.P-footer a {
    color: #fff;
}



/* New Changes */

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navbar>.container,
.navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}


.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
    display: flex !important;

    flex-basis: auto;
}

.navbar-expand .navbar-toggler {
    display: none;
}

.navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    padding: .25rem .75rem;
    border: 1px solid transparent;
    border-radius: .375rem;
    background-color: transparent;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}


/* Mobile menu */
/* Affected screens: Mobile devices smaller than the iPad*/
@media (max-width: 768px) {

    .navbar-nav .nav-link {
        padding: .625rem 0;
        color: #172b4d;
    }

    .navbar-nav .dropdown-menu {
        min-width: auto;
        box-shadow: none;
    }

    .navbar-nav .dropdown-menu .media svg {
        width: 30px;
    }

    .navbar-collapse {
        position: absolute;
        z-index: 1050;
        top: 0;
        right: 0;
        left: 0;
        overflow-y: auto;
        width: calc(100%);
        height: auto !important;
        margin: 0rem;
        opacity: 1;
    }

    .collapse-brand>img {
        width: 121.26px;
        height: 26.64px;
    }

    .navbar-collapse .navbar-toggler {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 0;
        cursor: pointer;
    }

    .navbar-collapse .navbar-toggler span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        opacity: 1;
        border-radius: 0px;
        background: #283448;
    }

    .navbar-collapse .navbar-toggler :nth-child(1) {
        transform: rotate(135deg);
    }

    .navbar-collapse .navbar-toggler :nth-child(2) {
        transform: rotate(-135deg);
    }

    .navbar-collapse .navbar-collapse-header {
        display: block;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .navbar-collapse .collapse-brand img {
        height: 26px;
    }

    .navbar-collapse .collapse-close {
        text-align: right;
    }

    .navbar-collapse.collapsing,
    .navbar-collapse.show {
        padding: 16px;
        animation: show-navbar-collapse .2s ease forwards;
        border-radius: 0em;
        background: #fff;
        display: block;
        z-index: 2000;
        box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    }

    .navbar-collapse.collapsing-out {
        animation: hide-navbar-collapse .2s ease forwards;
    }

    .navbar-brand>img {
        width: 121.88px;
        height: 26px;
    }

    .navbar-nav .btn,
    .navbar-nav .btn-dark {
        max-width: 144px;
        max-height: 40px;
        color: #fff;

    }

    .navbar-nav li {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .nav-item {
        padding: 10px 0px 10px 20px;

    }

    .border-none {
        border: 0px !important;
        padding-bottom: 0px;
    }

    .hidden-sm-down {
        display: none;
    }

    .app-content {
        padding: 0em;
    }

}



@media(max-width: 375px) {
    .ellipse img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: calc(100% - 2em);
    }

    .flex-container {
        flex-wrap: wrap;
    }
}

.shadow {
    -webkit-box-shadow: -0px 2px 2px rgba(0, 0, 0, 0.24),
        0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -0px 2px 2px rgba(0, 0, 0, 0.24),
        0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: -0px 2px 2px rgba(0, 0, 0, 0.24),
        0px 4px 4px rgba(0, 0, 0, 0.25);
}


* {
    box-sizing: border-box;
}

.ellipse {
    text-align: center;
    background-image: url(../../image/Ellipse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100% - 2em);
}

.ellipse img {
    margin-left: auto;
    margin-right: auto;
    display: block;

}


footer a.nav-link {
    padding-left: 0;
    padding-bottom: 0.2em;
}